@page
@model G1Food_Admin.Pages.MenuCreateUpdateModel
@{
}


<body id="page-top">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="row mt-4">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-8 col-lg-7">
                                    <!--  -->
                                    <div class="card Area Chartshadow mb-4">
                                        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                                            <button id="sidebarToggleTop"
                                                    class="btn btn-link d-md-none rounded-circle mr-3">
                                                <i class="fa fa-bars"></i>
                                            </button>

                                            <!-- Topbar Search -->
                                            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                                <div class="input-group">
                                                    <input type="text"
                                                           class="form-control bg-light border-0 small"
                                                           placeholder="Search for..."
                                                           aria-label="Search"
                                                           aria-describedby="basic-addon2" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary" type="button">
                                                            <i class="fas fa-search fa-sm"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>

                                            <!-- Topbar Navbar -->
                                            <ul class="navbar-nav ml-auto">
                                                <!-- Nav Item  -->
                                                <li class="nav-item dropdown no-arrow d-sm-none">
                                                    <a class="nav-link dropdown-toggle"
                                                       href="#"
                                                       id="searchDropdown"
                                                       role="button"
                                                       data-toggle="dropdown"
                                                       aria-haspopup="true"
                                                       aria-expanded="false">
                                                        <i class="fas fa-search fa-fw"></i>
                                                    </a>
                                                    <!-- Dropdown - Messages -->
                                                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                                         aria-labelledby="searchDropdown">
                                                        <form class="form-inline mr-auto w-100 navbar-search">
                                                            <div class="input-group">
                                                                <input type="text"
                                                                       class="form-control bg-light border-0 small"
                                                                       placeholder="Tìm món..."
                                                                       aria-label="Search"
                                                                       aria-describedby="basic-addon2" />
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-primary" type="button">
                                                                        <i class="fas fa-search fa-sm"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </li>


                                                <li class="nav-item dropdown no-arrow">

                                                    <!-- Dropdown - User Information -->
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                                         aria-labelledby="userDropdown">
                                                        <a class="dropdown-item fs-md" href="#">
                                                            <i class="fas fa-user fa-sm fa-fw mr-2 main-color"></i>
                                                            Profile
                                                        </a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item fs-md"
                                                           href="#"
                                                           data-toggle="modal"
                                                           data-target="#logoutModal">
                                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 main-color"></i>
                                                            Logout
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </nav>



                                        <div class="card-body">
                                            <div class="d-flex mt-1">
                                                <div class="col-md-6 text-xs font-weight-bold text-dark mb-1 p-0">
                                                    Cơm gà
                                                </div>
                                                <div class="col-md-5 text-xs text-dark font-weight-bold p-0">
                                                    <button class="btn sm bold">-</button> <span>1</span> <button class="btn sm bold">+</button>
                                                </div>
                                                <div class="col-md-6 text-xs text-dark p-0">
                                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                                </div>
                                            </div>

                                            <div class="d-flex mt-1">
                                                <div class="col-md-6 text-xs font-weight-bold text-dark mb-1 p-0">
                                                    Cơm sườn
                                                </div>
                                                <div class="col-md-5 text-xs text-dark font-weight-bold p-0">
                                                    <button class="btn sm bold">-</button> <span>1</span> <button class="btn sm bold">+</button>
                                                </div>
                                                <div class="col-md-6 text-xs text-dark p-0">
                                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                                </div>
                                            </div>

                                            <div class="d-flex mt-1">
                                                <div class="col-md-6 text-xs font-weight-bold text-dark mb-1 p-0">
                                                    Phở bò
                                                </div>
                                                <div class="col-md-5 text-xs text-dark font-weight-bold p-0">
                                                    <button class="btn sm bold">-</button> <span>1</span> <button class="btn sm bold">+</button>
                                                </div>
                                                <div class="col-md-6 text-xs text-dark p-0">
                                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-5">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold main-color">Chi tiết món</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">

                                            <div class="d-flex">
                                                <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                                    Tên:
                                                </div>
                                                <div class="col-md-10 text-xs text-dark mb-1 p-0">
                                                    Cơm gà
                                                </div>
                                            </div>

                                            <div class="d-flex mt-1">
                                                <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                                    Loại:
                                                </div>
                                                <div class="col-md-10 text-xs text-dark p-0">
                                                    Món chính
                                                </div>
                                            </div>

                                            <div class="d-flex mt-1">
                                                <div class="col-md-3 text-xs font-weight-bold text-dark mb-1 p-0">
                                                    Giá:
                                                </div>
                                                <div class="col-md-10 text-xs text-dark p-0">
                                                    35.000vnđ
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-center mt-1">
                                                <div class="border d-flex justify-content-center col-md-3 text-xs font-weight-bold mb-1 p-0">
                                                    Ảnh
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-end">
                                                <div class="col-xl-4 col-lg-5">
                                                    <div class="d-flex justify-content-end">
                                                        <div class="py-1">
                                                            <button class="btn sm bg-danger">Tạo mới</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>