@page
@model G1_Food_ChefStaff.Pages.ScheduleMmanagementModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body id="page-top">
    <div id="wrapper ">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid ">
                    <h4 class="fs-md mb-2 text-gray-800">Quán lý lịch trình</h4>

                    <div class="row mt-4 d-flex align-items-center justify-content-center">

                        <div class="col-sm-12 col-md-6 d-flex justify-content-end">
                            <button class="btn">Cái Nút</button>
                        </div>
                        <div class="row mt-4  d-flex align-items-center justify-content-center">
                            <!-- DataTales Example -->
                            <div class="col-sm-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered db-table table-hover"
                                                   id="dataTable"
                                                   width="100%"
                                                   cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Ngày</th>
                                                        <th>Ghi chú</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="">
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                
                                                        <td>Đi làm phải đi đúng giờ, hong đúng giờ sếp đá đít</td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                     
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                       
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                      
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                       
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                      
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                       
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                      
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                       
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                  
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                    
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>27/8/2025</td>
                                                   
                                                        <td></td>

                                                        <td>
                                                            <button class="btn sm bg-primary btn-table-edit">Chỉnh sửa</button>
                                                            <button class="btn sm btn-table-delete">Xóa</button>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

