@page
@model G1_Food_Inventory.Pages.InventoryModel
@{
    ViewData["Title"] = "Inventory";
}

<div>
    <div class="row mt-4">
        <!-- DataTales Example -->
        <div class="col-sm-12">
            <div class="card shadow mb-4 px-4 ">
                <div class="card-header py-3 d-flex justify-content-between">
                    <div>
                        <h3 class="fs-md">
                            Statics
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-2 d-flex flex-wrap">
                        @if(Model.Warehouses != null)
                        {
                            @foreach (var item in Model.Warehouses)
                            {
                                <div class="col-4">
                                    <div class="alert alert-success" role="alert">
                                        @item.ItemName - @item.Quantity
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>