.category-item {
    width: 150px;
    height: 200px;
    text-align: center;
    cursor: pointer;
}

.category-img {
    border-radius: var(--rounded-sm);
    margin-bottom: 12px;
}

.category-item div {
    font-weight: 500;
    width: 100% !important;
    text-align: center !important;
}

.category-item.active > img {
    border: 3px solid var(--main-color) !important;
}
.category-item.active > span {
    color: var(--main-color) !important;
}
.owl-theme .owl-dots {
    position: relative;
}
.owl-theme .owl-dots .owl-dot span {
    border: none;
    outline: none;
    background: var(--primary-color);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--main-color);
}

    .owl-theme .owl-dots:nth-child(2) {
        display: none !important;
    }
    /* Product list */
    .card-name a {
        font-size: var(--font-size-mml);
    }
.card-product-body p {
    margin-bottom: 0px !important;
}
.card-price {
    font-size: var(--font-size-mml);
}
.search-input {
    border-radius: 6px;
    padding-left: 6px;
}