@page
@model G1Food_Cashier.Pages.CashierStatisticsModel
@{
    ViewData["Title"] = "Cashier statistic";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-xl-6 col-md-6"></div>
            <div class="col-xl-6 col-md-6 text-center font-weight-bold text-gray-800 text-uppercase">
                Tổng giá trị trong ngày: <span class="main-color"> 11,111,111vnd</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-main shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs  font-weight-bold main-color text-uppercase mb-1">
                                    Tổng đơn online
                                </div>
                                <div class="d-flex">
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800">
                                        99
                                    </div>
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800 text-right">
                                        99.999.999vnd
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-main shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold main-color text-uppercase mb-1">
                                    Tổng đơn tại quầy
                                </div>
                                <div class="d-flex">
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800">
                                        99
                                    </div>
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800 text-right">
                                        99.999.999vnd
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-main shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold main-color text-uppercase mb-1">
                                    Tổng đơn cơm gà
                                </div>
                                <div class="d-flex">
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800">
                                        99
                                    </div>
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800 text-right">
                                        99.999.999vnd
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-main shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold main-color text-uppercase mb-1">
                                    Tổng đơn gà rán
                                </div>
                                <div class="d-flex">
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800">
                                        99
                                    </div>
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800 text-right">
                                        99.999.999vnd
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-main shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold main-color text-uppercase mb-1">
                                    Tổng đơn gà giòn vui vẻ
                                </div>
                                <div class="d-flex">
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800">
                                        99
                                    </div>
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800 text-right">
                                        99.999.999vnd
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-main shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold main-color text-uppercase mb-1">
                                    Tổng đơn combo gà
                                </div>
                                <div class="d-flex">
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800">
                                        99
                                    </div>
                                    <div class="col-xl-6 col-md-6 h5 mb-0 font-weight-bold text-gray-800 text-right">
                                        99.999.999vnd
                                    </div>
                                </div>
                            </div>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

