@page
@model G1Food_Admin.Pages.Product.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.SalePercent" class="control-label"></label>
                <input asp-for="Product.SalePercent" class="form-control" />
                <span asp-validation-for="Product.SalePercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Image" class="control-label"></label>
                <input asp-for="Product.Image" id="hiddenImage" type="hidden" />
                <img id="imagePreview" src="" alt="Image Preview" />
                <input asp-for="Product.Image" class="form-control" type="file" onchange="convertImageToBase64(this)" />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategogyId" class="control-label"></label>
                <select class="form-input" asp-for="Product.CategogyId" asp-items="Model.Categories.Select(w => new SelectListItem { Text = w.Name, Value = w.Id.ToString() })">
                </select>
                <span asp-validation-for="Product.CategogyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.StatusId" class="control-label"></label>
                <select class="form-input" asp-for="Product.StatusId" asp-items="Model.Status.Select(w => new SelectListItem { Text = w.Name, Value = w.Id.ToString() })">
                </select>
                <span asp-validation-for="Product.StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var imagePreview = document.getElementById("imagePreview");
        var hiddenImage = document.getElementById("hiddenImage");
        var base64Data = hiddenImage.value;

        if (base64Data) {
            imagePreview.src = base64Data;
        }
    });

    function convertImageToBase64(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var imagePreview = document.getElementById("imagePreview");
            var hiddenImage = document.getElementById("hiddenImage");

            reader.onload = function (e) {
                var base64Data = e.target.result;

                imagePreview.src = base64Data;

                hiddenImage.value = base64Data;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
