@page
@model G1Food_User.Pages.EnterEmailModel
@{
}

<body>
    <div class="container-fluid bg-primary z-1000 position-fixed h-100 wrapper animation-form">
        <div class="container form-wrapper">
            <div class="row">
                <div class="col-sm-12 col-lg-7 form-img ">
                    <img class="" src="./img/login_img.jpg" alt="" />
                </div>
                <div class="col-sm-12 col-lg-5">
                    <div class="form-container">
                        <form id="verifyEmail-form" method="get" asp-page="VerifyEmailUpdatePassword">
                            <div class="form-heading text-center">
                                <div class="form-logo">
                                    <img src="https://www.lotteria.vn/grs-static/images/lotteria_logo.svg"
                                         alt="logo" />
                                </div>
                                <h5 class="form-heading">Xác thực tài khoản</h5>
                                <p class="form-text text-black-50">
                                    Nhập email để xác thực! 
                                </p>
                            </div>
                            <div class="form-body">
                                <div class="d-flex">
                                    <div class="form-group">
                                        <input name="email"
                                               class="form-input"
                                               id="email"
                                               type="text"
                                               required
                                               placeholder="Nhập email của bạn" />
                                        <div class="form-error"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn mt-3 full">
                                        Xác nhận
                                    </button>
                                </div>
                                <div class="form-group d-flex justify-content-between align-items-center">
                                    <span class="fs-md">
                                        hoặc
                                        <a href="./Login" class="fs-md bold main-color">đăng nhập</a> tài khoản?
                                    </span>
                                    <a href="./Index" class="fs-md main-color"><i class="fa-solid fa-left-long"></i> Trở về</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const email = document.getElementById("email");
        const form = document.getElementById("verifyEmail-form");
        consele.log(email);
        consele.log(form);

        function showError(input, message) {
            let parentTag = input.parentElement;
            let errorMessage = parentTag.querySelector(".form-error");
            errorMessage.innerText = message;
            input.style.borderColor = "var(--main-color)";
        }

        function showSuccess(input) {
            let parentTag = input.parentElement;
            let errorMessage = parentTag.querySelector(".form-error");
            errorMessage.innerText = "";
            input.style.borderColor = "var(--success)";
        }
        email.addEventListener('blur', (e) => {
            checkEmail(email);
        })
        form.addEventListener("submit", (event) => {
            let isEmailValid = checkEmail(email);
            if (isEmailValid) {
                return true;
            } else {
                return false;
            }
        });

    </script>
</body>

