@page
@model G1Food_User.Pages.UpdatePasswordModel
@{
}

<body>
    <div class="container-fluid bg-primary z-1000 position-fixed h-100 wrapper animation-form">
        <div class="container form-wrapper">
            <div class="row">
                <div class="col-sm-12 col-lg-7 form-img ">
                    <img class="" src="./img/login_img.jpg" alt="" />
                </div>
                <div class="col-sm-12 col-lg-5">
                    <div class="form-container">
                        <form id="verifyEmail-form" method="post">
                            <div class="form-heading text-center">
                                <div class="form-logo">
                                    <img src="https://www.lotteria.vn/grs-static/images/lotteria_logo.svg"
                                         alt="logo" />
                                </div>
                                <h5 class="form-heading">Đổi mật khẩu</h5>
                                <p class="form-text text-black-50">
                                    Nhập mật khẩu mới của bạn!
                                </p>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    <input name="password"
                                           class="form-input"
                                           id="password"
                                           type="password"
                                           required
                                           placeholder="Nhập mật khẩu mới" />
                                    <div class="form-error"></div>
                                </div>
                                <div class="form-group">
                                    <input 
                                           name="password-confirm"
                                           class="form-input"
                                           id="password-confirm"
                                           type="password"
                                           required
                                           placeholder="Nhập lại mật khẩu mới" />
                                    <div class="form-error"></div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="@Model.accountID"
                                            hidden="true"
                                           name="accountID"
                                           class="form-input"
                                           id="accountID"
                                           type="text"
                                           value="@Model.accountID"
                                           placeholder="Nhập lại mật khẩu mới" />
                                    <div class="form-error"></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn mt-3 full">
                                        Đổi mật khẩu
                                    </button>
                                </div>
                                <div class="form-group d-flex justify-content-between align-items-center">
                                    <span class="fs-md">
                                        hoặc
                                        <a href="./Login" class="fs-md bold main-color">đăng nhập</a> tài khoản?
                                    </span>
                                    <a href="./Index" class="fs-md main-color"><i class="fa-solid fa-left-long"></i> Trở về</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/register.js" type="text/javascript" asp-append-version="true"></script>
</body>
