@page
@model G1Food_User.Pages.VerifyEmailModel
@{
    ViewData["Title"] = "Verify Email";
}

<body>
    <div class="container-fluid bg-primary z-1000 position-fixed h-100 wrapper animation-form">
        <div class="container form-wrapper">
            <div class="row">
                <div class="col-sm-12 col-lg-7 form-img ">
                    <img class="" src="./img/login_img.jpg" alt="" />
                </div>
                <div class="col-sm-12 col-lg-5">
                    <div class="form-container">
                        <form id="verifyEmail-form" method="post">
                            <div class="form-heading text-center">
                                <div class="form-logo">
                                    <img src="https://www.lotteria.vn/grs-static/images/lotteria_logo.svg"
                                         alt="logo" />
                                </div>
                                <h5 class="form-heading">Xác thực email</h5>
                                <p class="form-text text-black-50">
                                    Hãy xác thực email của bạn!
                                </p>
                            </div>
                            @{
                                if (Model.isWrongOTP)
                                {
                                    <div class="w-full main-color fs-md">Mã otp không đúng!</div>
                                }
                            }
                            <div class="form-body">
                                <div class="d-flex">
                                    <div class="form-group">
                                        @{
                                            if(!@Model.isWrongOTP)
                                            {
                                                <input asp-for="@Model.enteredTooken"
                                                       class="form-input"
                                                       id="token"
                                                       type="text"
                                                       required
                                                       placeholder="Nhập mã otp code" />
                                                <div class="form-error"></div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @{
                                        if(Model.isWrongOTP)
                                        {
                                            <a href="./Register" class="btn mt-3 full">
                                                Đăng kí lại
                                            </a>

                                        } else
                                        {
                                            <button type="submit" class="btn mt-3 full">
                                                Xác nhận
                                            </button>
                                        }
                                    }
                                  
                                </div>
                                <div class="form-group d-flex justify-content-between align-items-center">
                                    <span class="fs-md">
                                        hoặc
                                        <a href="./Login" class="fs-md bold main-color">đăng nhập</a> tài khoản?
                                    </span>
                                    <a href="./Index" class="fs-md main-color"><i class="fa-solid fa-left-long"></i> Trở về</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/register.js" type="text/javascript" asp-append-version="true"></script>
</body>
